@model WebUI.ViewModels.CommentViewModel

<form>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="AuthorId" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="PostId" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Author" />
    </div>
    <div class="input-group">
        <input asp-for="Text" type="text" class="form-control" placeholder=@Localizer["AddCommentPlaceholder"]><br />
        <div class="form-group">
            <button type="submit" asp-action="AddComment" asp-controller="Posts" class="btn btn-outline-secondary">@Localizer["AddComment"]</button>
        </div>
    </div>
</form>