@model WebUI.ViewModels.CommentViewModel


    <form class="add-comment-wrapper">
        <div class="form-group">
            <input type="hidden" asp-for="AuthorId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="PostId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Author" />
        </div>
        <div class="add-comment-field-container input-group-prepend">
            <textarea type="text" asp-for="Text" class="form-control add-comment-field auto-size" placeholder=@Localizer["AddCommentPlaceholder"]></textarea>
        </div>

        <div class="add-comment-button-container">
            <button type="submit" asp-action="Create" asp-controller="Comments" class="btn-main-sm add-comment-button">@Localizer["AddComment"]</button>
        </div>
    </form>