@using Microsoft.AspNetCore.Identity
@using Domain.Entities;
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User) && @User.IsInRole("admin"))
{
    <!--<div class="form-group-col">
        <div class="flex-column">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="row nav-link btn btn-lg btn-primary" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a><br />
                <a class="row nav-link btn btn-lg btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a><br />
                <a class="row nav-link btn btn-lg btn-primary" asp-area="Admin" asp-controller="Posts" asp-action="AllPosts">Posts</a><br />
            </div>
        </div>
    </div>-->


    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
            <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
            <a class="list-group-item list-group-item-action bg-light" asp-area="Admin" asp-controller="Posts" asp-action="AllPosts">Posts</a>
        </div>
    </div>
}

