<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
    <style>
        @@font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @@font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @@font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsWqhPANqczVsq4A.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @@font-face {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsWqZPANqczVs.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            background-color: #fefefe;
        }

        .email-container {
            min-height: 200px;
            text-align: center;
        }

        .email-wrapper {
            margin: auto;
            max-width: 600px;
            min-width: 400px;
            padding: 20px;
        }

        .email-content {
            background-color: #fefefe;
            text-align: justify;
            padding: 0px 20px;
        }

        .email-container h1 {
            text-align: center;
            word-wrap: break-word
        }

        .email-footer {
            margin: auto;
            align-self: flex-start;
        }

        .email-logo-img {
            width: 75px;
            height: 75px;
            margin: 0px;
        }

        .email-header {
            color: #333;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 16px;
        }

        .email-header h1 {
            margin-bottom: 0;
        }

        .email-text {
            color: #333;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 16px;
            padding: 10px 20px;
        }

        .email-copyrights {
            color: gray;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 16px;
            padding: 0 20px;
            margin: auto;
            text-align: center;
        }

        .email-button {
            height: auto;
            margin: auto;
            width: fit-content;
            padding: 20px
        }

        .btn-main {
            background-color: #333;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 1.3px;
            padding: 16px 40px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .btn-main:hover {
            color: #fefefe;
            text-decoration: none;
            background-color: #3b3b3b;
        }

        .email-mistake {
            color: #333;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 12px;
            margin: auto;
            margin-top: 0;
        }
    </style>
</head>

<body>
    @RenderBody();
</body>

</html>