<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Diary home page</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <!--<header>-->
        <header id="header">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5" style="background-color: #C0C0C0;">
                <div class="container">
                    <a id="logo-text" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img id="logo-img" src="~/OpenDiary.jpg" class="d-inline-block align-top" alt="" />
                        OPEN DIARY
                    </a>
                    <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">-->
                    <div class="navbar-brand">
                        <!---<partial name="_LoginPartial" />-->
                        @await Component.InvokeAsync("Login")
                    </div>
                </div>
            </nav>
        </header>
        <!--</header>-->
        
        <!--</sidebar>-->
        <div id="leftSidebar">
            <partial name="_LeftSidebar" />
        </div>
        <!--</sidebar>-->

        <!--</main>-->
        <div id="main">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!--</main>-->

        <footer id="footer" class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Open Diary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>