<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet" type="text/css">
    <link href="~/css/Layout.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <nav class="grid">
            <ul class="nav-left">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Authors</a>
                </li>
                <li>
                    <a href="#">Post</a>
                </li>
            </ul>
            <ul class="nav-right">
                <li>
                    <a href="#">Sign In</a>
                </li>
                <li>
                    <a href="#">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main">
        @RenderBody()
    </div>

    <footer class="grid">
        <div class="copyright">
            <p>️&copy; OPEN DIARY 2020</p>
        </div>
        <div class="language">
            <!--<select class="language-select">
        <option value="English">English</option>
        <option value="Русский">Русский</option>
    </select>-->
            <partial name="_SelectLanguagePartial"/>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>