@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity;
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User) && @User.IsInRole("admin"))
{
    <div class="bg-light">
        <div class="list-group">
            <a class="list-group-item list-group-item-action bg-wight" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
            <a class="list-group-item list-group-item-action bg-wight" asp-area="Admin" asp-controller="Posts" asp-action="AllPosts">Posts</a>
            <a class="list-group-item list-group-item-action bg-wight" asp-area="Admin" asp-controller="Comments" asp-action="Index">Comments</a>
        </div>
    </div>
}