@using Microsoft.AspNetCore.Identity
@using Domain.Entities;
@inject SignInManager<User> SignInManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link btn btn-lg btn-dark text-light" asp-area="" asp-controller="Posts" asp-action="Create">Write New Post</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <img class="mb-4" src="~/User.png" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" width="50" height="50" />
                    <div class="dropdown-menu" aria-labelledby="UserMenu">
                        <a class="dropdown-item" asp-action="ViewUser" asp-controller="Users" asp-route-userName="@User.Identity.Name">@User.Identity.Name</a>
                        <div class="dropdown-divider"></div>
                        <form class="dropdown-item form-inline" asp-area="Identity">
                            <button type="submit" class="nav-link btn btn-link text-dark" asp-controller="Account" asp-action="Logout">Logout</button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>