@model WebUI.ViewModels.Users.CreateUserViewModel
@{
    ViewBag.Tirle = "Create new user";
}

    <form asp-action="Create" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">First name</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label">Last name</label>
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="control-label">Birth date</label>
            <input type="date" asp-for="BirthDate" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-outline-secondary" />
        </div>
    </form>