@{
    ViewBag.Title = "Confirm email";
}

<h2>Confirm Email.</h2>
<div class="form-inline">
    <div> Thank your for confirming your email. Please</div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Click here to Log in</a>
</div>