@model WebUI.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

<div class="sign-in-up-page">

    <h1 class="">@Localizer["UnknownAccount"]</h1>

    <div class="sign-in-up-container height-200">

        <div class="form-group-col">
            <div class="form-group-row">
                <p class="confirm-message"> @Localizer["Message", Model.Email]</p>
                <a class="confirm-message-link" asp-controller="Account" asp-action="Register">@Localizer["ClickToRegister"]</a>
            </div>
        </div>

    </div>
</div>