@model WebUI.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Unknown account.";
}

<h2>Reset Password Confirmation.</h2>

<div> There is no account with amail address (@Model.Email) or email adress is not verified.</div>
<a class="nav-link" asp-controller="Account" asp-action="Register">Click here to Register</a>