@model WebUI.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="sign-in-up-page">

    <h1 class="">@Localizer["ForgotPassword"]</h1>

    <form class="sign-in-up-container height-350" asp-controller="Account" asp-action="ForgotPassword" method="post">

        <div class="form-group-col">
            <div class="validation-message" asp-validation-summary="All"></div>
        </div>

        <div class="input-group form-group">
            <p class="confirm-message">@Localizer["EnterEmail"]</p>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Localizer["Email"]</span>
            </div>
            <input asp-for="Email" type="email" aria-label="Email" class="form-control" placeholder=@Localizer["EmailPlaceholder"]>
        </div>

        <div class="form-group-row">
            <button class="btn-main" type="submit">@Localizer["Send"]</button>
        </div>
    </form>
</div>