@model WebUI.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>Reset Password Confirmation.</h2>
<div class="form-inline">
    <div>
        To reset password, check your email (@Model.Email) and follow the link provided in the letter. <br />
    </div>
</div>