@model WebUI.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

<h2>@Localizer["ResetConfirmation"]</h2>
<div class="form-inline">
    <div>
        @Localizer["Message", Model.Email]<br />
    </div>
</div>