@model WebUI.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-account form-bg shadow-sm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h1 class="h3 mb-3 font-weight-normal">@Localizer["ForgotPassword"]</h1>

    <input asp-for="Email" class="form-control" placeholder=@Localizer["EmailPlaceholder"] required />
    <p><span asp-validation-for="Email" class="text-danger"></span></p>

    <button type="submit" class="btn btn-lg btn-primary btn-block">@Localizer["Send"]</button>
</form>