@model WebUI.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

<h2>@Localizer["ResetConfirmation"]</h2>

<div>@Localizer["ResetConfirmation", Model.Email]</div>
<a class="nav-link" asp-controller="Account" asp-action="Register">@Localizer["ClickToRegister"]</a>