@model WebUI.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<form class="text-center" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <img id="logo-img-lg" class="mb-4" src="~/OpenDiary.jpg" alt=""/>
    <h2>Please sing in</h2><br />
    <div class="form-group-col">
        <div class="row justify-content-center align-items-center" asp-validation-summary="All"></div>
        <div class="row justify-content-center align-items-center">
            <input id="input-form" asp-for="Email" placeholder="Email adress">
        </div>
        <div class="row justify-content-center align-items-center">
            <input id="input-form" asp-for="Password" placeholder="Password"><br />
        </div>
    </div>
    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>
    <div>
        <button id="btn-lg" class="btn btn-lg btn-primary" type="submit">Sign in</button>
    </div>

    <div class="form-group-row">
        <label>Forgot password?</label>
        <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Click here</a>
    </div>
    <div class="form-group-row">
        <label>Not a member?</label>
        <a asp-area="" asp-controller="Account" asp-action="Register">Sing up now</a>
    </div>
</form>