@model WebUI.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register Succeeded";
}

<h2>Confirm Email Sent.</h2>
<p>Hi @Model.FirstName @Model.LastName!</p>
<p>
    You have successfully created an OpenDiary account! <br/>
    To complete the registration, check your email (@Model.Email) and follow the link provided in the letter.
</p>