@{
    ViewBag.Title = "Password reset succeeded";
}

<h2>Password reset.</h2>
<div class="form-inline">
    <div> Your password was reset successfully. Please</div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Click here to Log in</a>
</div>