@{
    ViewBag.Title = Localizer["Title"];
}

<h2>@Localizer["PasswordReset"]</h2>
<div class="form-inline">
    <div>@Localizer["Message"]</div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["ClickToLogin"]</a>
</div>