@model WebUI.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-account form-bg shadow-sm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserName" type="hidden" />
    <input asp-for="Token" type="hidden" />

    <h2 class="h3 mb-3 font-weight-normal">Reset Password</h2>

    <p><span asp-validation-for="Password" class="text-danger"></span></p>
    <p><span asp-validation-for="ConfirmPassword" class="text-danger"></span></p>

    <input id="forgotPassTopFrame" asp-for="Password" class="form-control" placeholder="Password" required />
    <input id="forgotPassBottomFrame" asp-for="ConfirmPassword" class="form-control mb-3" placeholder="Password" required />

    <button type="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
</form>