@model Application.DTO.AuthorDTO

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link btn btn-lg btn-dark text-light" asp-area="" asp-controller="Posts" asp-action="Create">Write New Post</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <img class="mb-4" src="~/User.png" id="logo-img" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>

                <div class="dropdown-menu" aria-labelledby="UserMenu">

                    <div class="dropdown-item">
                        <div>Signed in as</div>
                        <div style="font-weight:bold">@Model.FirstName @Model.LastName </div>
                    </div>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" asp-action="Index" asp-controller="Profile" asp-route-userId="@Model.UserId">Profile</a>
                    <a class="dropdown-item" asp-action="=" asp-controller="">Posts</a>

                    <div class="dropdown-divider"></div>
                    <form class="dropdown-item form-inline" asp-area="">
                        <button type="submit" class="nav-link btn btn-link text-dark" asp-controller="Account" asp-action="Logout">Logout</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>