@{
    ViewData["Title"] = "Open Diary | Home Page";
}

<main>
    <div class="banner">
        <div class="container">
            <h1>Open Diary</h1>
            <a class="btn-main" asp-controller="Posts" asp-action="Create"> Write now </a>
        </div>
    </div>
</main>

<section class="supporting">
    <div class="container">
        <div class="col">
            <h2>Read</h2>
            <p>Check out the latest posts.</p>
            <a asp-controller="Posts" asp-action="Index"> Learn More </a><br>
        </div>

        <div class="col">
            <h2>Write</h2>
            <p>Write down your thoughts.</p>
            <a asp-controller="Posts" asp-action="Create"> Learn More </a><br>
        </div>

        <div class="col">
            <h2>Comment</h2>
            <p>Share your opinion.</p>
            <a href="#"> Learn More </a><br>
        </div>
    </div>
</section>