@model IEnumerable<Domain.Entities.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Open Diary</h1>
    <p>Read the latest most significant posts and write your own! Enjoy!</p>
</div>