@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome to Open Diary</h1>
    <p>Read the latest most significant posts and write your own! Enjoy!</p>
</div>-->


<main>
    <div class="banner">
        <div class="container">
            <h1>Open Diary</h1>
            <a href="#" class="btn-main"> Write now </a>
        </div>
    </div>
</main>

<section class="supporting">
    <div class="container">
        <div class="col">
            <h2>Read</h2>
            <p>Look throuth post libraty.</p>
            <a href="#"> Learn More</a><br>
        </div>

        <div class="col">
            <h2>Write</h2>
            <p>Write thoughts you've got.</p>
            <a href="#"> Learn More</a><br>
        </div>

        <div class="col">
            <h2>Comment</h2>
            <p>Write thoughts you've got.</p>
            <a href="#"> Learn More</a><br>
        </div>
    </div>
</section>